APP_NAME="Koda Project Tracker"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=koda_tracker
DB_USERNAME=koda
DB_PASSWORD=secret
